## Користувацькі файли (тимчасові)
*.user
*.userosscache
*.sln.docstates
*.suo

## Результати збірки (те, що займає багато місця)
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## Кеш Visual Studio
.vs/

## Файли бази даних (якщо створюєш локально)
*.mdf
*.ldf
*.ndf

## Тимчасові файли компілятора
*.sdf
*.opensdf
*.VC.db
*.ipch/
*.log
*.pdb
*.ilk
*.exe